@charset "utf-8";

body{
 margin:0;            /* ←追加 */
}

a{/*リンクされた文字*/
    color:#FF00FF;
    font-style:normal;
    text-decoration:underline;
}
a:hover {/*マウスをのせたとき*/
    color:#FFC0CB;
    font-style:normal;
    text-decoration:underline;
}

h1#header{
	font-size: 24px;
	font-weight: bold;
	color: #FF00FF;
}

.header_logo{
	float: left;
	padding: 0px 10px;
}

.left_area{
	width : 25%;
}

ul.navi li{
	list-style: none;
	color: #FF00FF;
	text-align: center;
	padding-top: 20px;
}